* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14005e;
}

.navbar, .card-header{
    background-color: #14005e !important;
}

.card-header{
   color:white !important;
}
.dropdown-menu{
     background-color: #14005e !important;
}

.navbar a{
     color:white !important;
}

.navbar a{
    color:white !important;
}

header h1 {
  color: white;
  margin: 0;
}

.main_header{
    padding:20px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: right;
}

.main_header div a{
    text-decoration: none;
    padding-right:20px;
}

.main_header div a:hover{
    text-decoration: underline;
   font-weight: bold;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_cardings {
  margin: 2rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 20px;
  margin-left: 30px;
  margin-top: 50px;
}

a{
    
text-decoration: none;
}